
/* Your CSS Code here. */

.holder {
  display: flex;                  
  flex-wrap: wrap;               
  justify-content: space-between;
  padding: 10px;               
}

.item {
  flex: 0 1 auto;              
  margin: 10px 0;                
  width: 150px;                 
  background-color: #ddd;      
  text-align: center;            
  padding: 20px;               
  box-sizing: border-box;     
}
}